html, body, table, div{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
html, body{
    width: 100%;
    height: 100%;
    background: #ccc;
}
.main {
    width:70%;
    bottom: 100%;
    min-width:800px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 20px 0;
    background: white;
}
.plot {
    width: 100%;
    height: 100%;
}
.plot-wrap {
    heigth: 100%;
    min-height: 400px;
    margin: 20px;
}
.bar {
    margin:0 20px 10px;
}